@charset "utf-8";
/* 도깨비 PJ 미디어쿼리 CSS - media.css */

/* 1200이하 */
@media screen and (max-width:1200px) {
    /* 탑메뉴 가로크기 화면맞춤 */
    .imenu{
        width: 100%;
    }
}

/* 1070이하 */
@media screen and(max-width:1070px) {
    /* 상대단위 rem글자 크기변경 위해 html변경 */
    html{
        font-size: 8px;
    }
    /* GNB메뉴 조정 */
    .gnb{
        width: 495px;
        margin-top: 35px;
    }
    /* 하단링크 조정 */
    .blink ul{
        width: 680px;
    }
    /* 브랜드 박스 */
    .brand{
        display: none;
    }
    /* 캐릭터 박스 한줄에 2개씩 */
    .cat{
        width: 49%;
    }
    /* 캐릭터 부모박스 */
    .cbx{
        margin-top: 50px;
    }
    /* 캐릭터 오버시 이미지박스 */
    .cat:hover .ci{
        margin-top: 0;
    }
    /* 캐릭터 오버시 z-index */
    .cat:hover{
        z-index: 1;
    }
}
/* 870이하 */
@media screen and (max-width:870px){
    /* 없어질 요소들 : 상단메뉴,GNB, 하단메뉴 */
    .tmenu, .gnb, .blink{
        display: none;
    }
    .cat{
        /* 캐릭터 박스 한줄에 하나씩 */
        width: 99%;
    }
    /* 설명박스 자리 차지하는 포지션 */
    .cd{
        position: static;
    }
    /* 설명박스 p요소 */
    .cd p{
        font-size: 3vw;
    }
    /* 하단영역 */
    .
        
}